<% if user_signed_in? %>
      <h1> Hello, <%= current_user.name %> ! </h1>
        <h2>Find a workspace for all your needs</h2>
 <% end %>

<div class="card-container">
  <% @offices.each do |office| %>
    <div class="card">
        <img src="https://images.unsplash.com/photo-1505409859467-3a796fd5798e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2784&q=80" class="card-img" alt="Office photo">
          <div class="card-body">
            <h5 class="card-title"><%= office.name %></h5>
            <p class="card-text"><%= office.description %></p>
            <%= link_to "See more", office_path(office), class: "btn btn-primary" %>
          </div>
    </div>
  <% end %>
</div>
