<% if user_signed_in? %>
      <h2> Hi <%= current_user.name %> </h2>
 <% end %>
<div class="card" style="width: 18rem;">
<% @offices.each do |office| %>
  <img src="https://martinselig.com/wp-content/uploads/2021/08/Web_07.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= office.name %></h5>
    <p class="card-text"><%= office.description %></p>
    <a href="#" class="btn btn-primary">see office</a>
  </div>
  <% end %>
</div>
