// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// our colors
$naval: #000080;
$pearly:#F8F6F0;
$repose_grey:#CCC8BF;
$dovetail:#908a83;
$devonair:#8da1a9;


$super-beige:#F9F5EB;
$beige:#E4DCCF;
$pinkish:#EA5455;
$dark-blue:#002B5B;
$more-colors:rgb(215, 196, 196);
$oranje:#ff8b3d;
