// .info{
//   display: flex;
//   justify-content: space-between;
// }
// .descricao{
//   height: 100vh;
//   position: sticky;
//   top: 0;
// }

.hola{
 float: right;
}

.carousel-control-prev-icon{
  position: relative;
  left: 30px;
}
.carousel-control-next-icon{
  position: relative;
  left: 30px;
}
