<div class="footer">
    <div class="footer-links">
      <a target="_blank" href="https://github.com/AnaLopezRdz"><i class="fab fa-github"></i></a>
      <a target="_blank" href="https://www.instagram.com/mnsnina/"><i class="fab fa-instagram"></i></a>
      <a target="_blank" href="#"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
</div>
