<div class="container">
  <div>
    <h1>This office offers:</h1>
  </div>
  <div class="d-flex">
    <div>
      <ul>
        <li><i class="fa-solid fa-wifi"></i> WiFI</li>
        <li><i class="fa-solid fa-car"></i> Free parking</li>
        <li><i class="fa-solid fa-paw"></i> Pets allowed</li>
        <li><i class="fa-solid fa-utensils"></i> Kitchen</li>
      </ul>
    </div>
    <div>
      <ul>
        <li><i class="fa-solid fa-tv"></i> TV</li>
        <li><i class="fa-solid fa-water-ladder"></i> Swimming pool</li>
      </ul>
    </div>
  </div>
</div>
