<div class="container">
  <div>
    <h4>What this place offers:</h4>
  </div>
  <div class="container">
    <div>
      <ul>
        <li><i class="fa-solid fa-wifi"></i> WiFI</li>
        <li><i class="fa-solid fa-car"></i> Free parking</li>
        <li><i class="fa-solid fa-paw"></i> Company dogs allowed</li>
        <li><i class="fa-solid fa-utensils"></i> Kitchen</li>
        <li><i class="fa-solid fa-tv"></i> Computers</li>
        <%# <li><i class="fa-solid fa-water-ladder"></i> Swimming pool</li> %>
      </ul>
    </div>
  </div>
</div>
