<div class="navbar-2">
  <i class="fa-solid fa-wifi"></i>
  <i class="fa-solid fa-car"></i>
  <i class="fa-regular fa-building"></i>
  <i class="fa-brands fa-centercode"></i>
  <i class="fa-solid fa-mountain-sun"></i>
</div>
