<div class="navbar-2">
  <i class="fa-solid fa-wifi"></i>
  <%# <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
    Tooltip on right
  </button> %>
  <i class="fa-solid fa-car"></i>
  <i class="fa-regular fa-building"></i>
  <i class="fa-brands fa-centercode"></i>
  <i class="fa-solid fa-mountain-sun"></i>
</div>
