<div class="navbar-2">
  <i class="fa-solid fa-wifi"data-bs-toggle="tooltip" data-bs-placement="bottom" title="With WiFi"></i>
  <%# <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
    Tooltip on right
  </button> %>
  <i class="fa-solid fa-car size-tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Parking"></i>
  <%# <i class="fa-solid fa-car" title="Car"></i> %>
  <%# <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
  Tooltip on bottom
  </button> %>
  <i class="fa-regular fa-building" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Top Roof"></i>
  <i class="fa-brands fa-centercode" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Close to Center"></i>
  <i class="fa-solid fa-mountain-sun" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Best Views"></i>
</div>
