
body{
  // background-image: url("https://img.freepik.com/free-photo/grunge-wall-texture_1194-6108.jpg?w=1480&t=st=1693054490~exp=1693055090~hmac=3c226ff64d2c8eebccfb17a579d543d4c6a99e303fc69511ee23620980123975");
  background:image-url('almost_white_background.jpg');
  background-size: cover; /* Adjust to your preference */
  background-repeat: no-repeat;
}
