.flat-content{
  height:350px;
  background-color:white;
}
.card-product{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3%;
}

.flat-card-actions{
  margin: 10px;
  height:30px;
}

.border-bottom{
  border-bottom: 1px;
}
