.opacity-photo{
  opacity: 1;
  &:hover{
    opacity: 0.8;
  }
}

.scroll-container {
  height: 300px;
  overflow: auto;
}
#h1onphoto{
    color:white;

  }
// .avatar-in-show{
//   .avatar{

//   }
// }

.avatarito{
  width: 70px;
  height:70px;
  border-radius: 50%;
  object-fit: cover;
}
