.navbar-lewagon {
  justify-content: space-between;
  background:white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.nav-link:hover {
  cursor: pointer;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
 .nav-link{
  color:$naval;
 }

 .navbar-2{
  height: 60px;
  background-color: $oranje;
 }
 .navbar-2 {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.navbar-2 i {
  margin: 0 30px; /* Optional: Add spacing between icons */
  font-size: 30px;
  color:$pearly;
  opacity: .6;
}
i:hover{
  cursor: pointer;
  opacity: .9;
}


.btn-outline- {
width: 50px;
background-color: #ff8b3d;
img {
  width: 25px;
  height: 25px;
}
}
.btn-outline-:hover {
  font-weight: bold;
  background-color: #E67E22;
  }
