.navbar-lewagon {
  justify-content: space-between;
  background:white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}



.nav-link:hover {
  cursor: pointer;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
 .nav-link{
  color:$naval;
 }
